.header{
    background-image: url("../images/ashkan-forouzani-7blIFp0kFP4-unsplash.jpg");
    position: relative;
    background-size: cover;
    min-height: 650px;
    font-weight: 600;
    font-size: 24px;
}
.navbar-brand{
    font-size: 30px;
    letter-spacing: 3px;
}